$ancho: 150px;
$alto: 150px;
$fuente: 1.5rem;
$color_a: #4c3f91;
$color_b: #ff5677;
$gradiente: linear-gradient(to right, $color_b, $color_a);
$color_def: white;

/*PARTE FOOTER */

.footer {
    background-image: $gradiente;

    &__Div {
        @include tablet {
            flex-direction: column;
        }

        @include smartphones {
            flex-direction: column;
        }

        &__parrafoFooter {
            font-size: $fuente;
            color: $color_def;

            @include smartphones {
                font-size: ($fuente)-0.5;
            }

            @include tablet {
                font-size: ($fuente)-0.5;
            }
        }

        &__aFooter {
            @extend .footer__Div__parrafoFooter;
            text-decoration: underline;
        }

        &__aFooter:hover {
            color: $color_def;
        }

        &__imgLogoF {
            width: $ancho;
            height: $alto;

            @include tablet {
                width: ($ancho)-30;
                height: ($alto)-30;
            }

            @include smartphones {
                width: ($ancho)-40;
                height: ($alto)-40;
            }

        }

        &__imgFooter {
            width: ($ancho)-100;
            height: ($alto)-100;

            @include tablet {
                width: ($ancho)-80;
                height: ($alto)-80;
            }

            @include smartphones {
                width: ($ancho)-110;
                height: ($alto)-110;
            }
        }
    }


}

/*PARTE FOOTER */