/* PARTE MAIN (TODOS LOS HTML) */

$fuente: 1rem;
$color_a: #4c3f91;
$color_b: #ff5677;
$color_c: #9145b6;
$color_d: #B958A5;
$RGBOp: rgba(255, 86, 119, 0.2);
$color_def: white;
$color_black: black;
$full: 100%;

$MapColores:(quienesSomos: $color_a,
    nuestraUbicacion: $color_c,
    acercadeNuestroProveedor: $color_d,

);

.main {
    background-image: url(../images/fondo.jpg);
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;

    .titulo {
        font-size: ($fuente)+4;
        font-family: 'Bebas Neue', sans-serif;
        -webkit-text-stroke: 0.1px black;
        color: white;

        @include tablet {
            font-size: ($fuente)+2;
        }

        @include smartphones {
            font-size: ($fuente)+1;
        }

    }

    .parrafo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: ($fuente)+0.5;
        color: white;

        @include smartphones {
            font-size: ($fuente);
        }
    }

    .botonGaleria {
        border: 3px solid #ff5677;
        width: 181px;
        text-align: center;
        background-color: black;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        color: white;
    }

    .botonGaleria:hover {
        background-color: $color_b;
        border-color: $color_black;
        transition: all 1s;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    &__section {
        background-color: $RGBOp;

        @each $Divs,
        $Colores in $MapColores {

            &__DivColor--#{$Divs} {
                background-color: $Colores;
                border-radius: 10px;
                border: 3px solid black;
            }
        }


        &__carouselTitleDiv {
            background-color: $RGBOp;
            border-radius: 100px;
        }

        &__div {
            background-color: $color_black;
            border-radius: 10px;
            padding-top: 30px;
            border: 5px solid $color_b;
        }

        &__form {
            margin: 25px;
            padding-top: 10px;
            background-color: $color_b;
            border-radius: 3px;
            border: 5px solid $color_a;

            &__div {
                padding: 20px;
            }
        }

        &__divContacto {
            @extend .main__section__div;
            margin-left: 200px;
            margin-right: 200px;

            @include smartphones {
                margin-left: 0px;
                margin-right: 0px;
            }

            @include tablet {
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        &__imgAnimation:hover {
            transform: scale(1.3, 1.3);
            transition: transform 0.5s;
        }
    }




}