/* PARTE MAIN (TODOS LOS HTML) */

$fuente: 1rem;
$color_a: #4c3f91;
$color_b: #ff5677;
$color_c: #9145b6;
$color_d: #B958A5;
$RGBOp: rgba(255, 86, 119, 0.2);
$color_def: white;
$color_black: black;
$full: 100%;

$MapColores:(quienesSomos: $color_a,
    nuestraUbicacion: $color_c,
    acercadeNuestroProveedor: $color_d,

);

.main {
    background-image: url(../images/fondo.jpg);
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;

    .titulo {
        font-size: ($fuente)+4;
        font-family: 'Bebas Neue', sans-serif;
        -webkit-text-stroke: 0.1px black;
        color: white;

        @include tablet {
            font-size: ($fuente)+2;
        }

        @include smartphones {
            font-size: ($fuente)+1;
        }

    }

    .parrafo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: ($fuente)+0.5;
        color: white;

        @include smartphones {
            font-size: ($fuente);
        }
    }

    .botonGaleria {
        border: 3px solid #ff5677;
        width: 181px;
        text-align: center;
        background-color: black;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        color: white;
    }

    .botonGaleria:hover {
        background-color: $color_b;
        border-color: $color_black;
        transition: all 1s;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    &__section {
        background-color: $RGBOp;

        @each $Divs,
        $Colores in $MapColores {

            &__DivColor--#{$Divs} {
                background-color: $Colores;
                border-radius: 10px;
                border: 3px solid black;
            }
        }


        &__carouselTitleDiv {
            background-color: $RGBOp;
            border-radius: 100px;
        }

        &__div {
            background-color: $color_black;
            border-radius: 10px;
            padding-top: 30px;
            border: 5px solid $color_b;
        }

        &__gridIndex {
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-template-rows: .3fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "title_1 title_2"
                "carousel parrafo";


            @each $Contenido in title_1,
            title_2,
            carousel,
            parrafo {
                &__#{$Contenido} {
                    grid-area: #{$Contenido};
                }
            }
        }

        &__gridGaleriaTap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem 1rem;
            grid-auto-flow: row;
            grid-template-areas:
                "imageTp contentTp";

            @each $ContenidoTap in imageTp,
            contentTp {
                &__#{$ContenidoTap} {
                    grid-area: #{$ContenidoTap};
                }
            }
        }




        &__form {
            margin: 25px;
            padding-top: 10px;
            background-color: $color_b;
            border-radius: 3px;
            border: 5px solid $color_a;

            &__div {
                padding: 20px;
            }
        }

        &__divContacto {
            @extend .main__section__div;
            margin-left: 200px;
            margin-right: 200px;

            @include smartphones {
                margin-left: 5px;
                margin-right: 5px;
            }

            @include tablet {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        &__imgAnimation:hover {
            transform: scale(1.3, 1.3);
            transition: transform 0.5s;
        }

        &__Color {
            background-color: $color_b;
            color: $color_def;

        }

        &__ColorB {
            background-color: $color_a;
            color: $color_def;

        }

        &__gridTAP {
            display: grid;
            grid-template-columns: .5fr .5fr .5fr;
            grid-template-rows: .3fr .3fr .3fr .3fr .5fr .5fr .5fr;
            gap: 0px 0px;
            grid-template-areas:
                "tap_1 tap_2 tap_3"
                "tap_4 tap_5 tap_6"
                "tap_7 tap_8 tap_9"
                "tap_10 tap_11 tap_12"
                "tap_13 tap_14 tap_15"
                "tap_16 tap_17 tap_18"
                "tap_19 tap_20 tap_21";

            @each $Tap in tap_1,
            tap_2,
            tap_3,
            tap_4,
            tap_5,
            tap_6,
            tap_7,
            tap_8,
            tap_9,
            tap_10,
            tap_11,
            tap_12,
            tap_13,
            tap_14,
            tap_15,
            tap_16,
            tap_17,
            tap_18,
            tap_19,
            tap_20 {
                &__#{$Tap} {
                    grid-area: #{$Tap};
                }
            }
        }

        &__gridSillones {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr;
            grid-auto-columns: 1fr;
            gap: 0.3rem 0.3rem;
            grid-auto-flow: row;
            grid-template-areas:
                "s1 s1 s1 s1 s2 s2"
                "s1 s1 s1 s1 s2 s2"
                "s1 s1 s1 s1 s2 s2"
                "s8 s8 s8 s9 s9 s9"
                "s8 s8 s8 s9 s9 s9"
                "s4 s4 s5 s5 s7 s7"
                "s4 s4 s5 s5 s7 s7"
                "s4 s4 s5 s5 s7 s7"
                "s10 s10 s10 s13 s13 s13"
                "s10 s10 s10 s13 s13 s13"
                "s10 s10 s10 s13 s13 s13";

            @each $Sillones in s1,
            s2,
            s8,
            s9,
            s4,
            s5,
            s7,
            s10,
            s11,
            s12,
            s13 {

                &__#{$Sillones} {
                    grid-area: #{$Sillones};
                }
            }

        }

        &__gridMuebles {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.2fr 0.2fr 0.5fr 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.5fr 0.5fr 0.3fr 0.3fr 0.4fr 0.4fr;
            gap: 0.2rem 0.2rem;
            grid-auto-flow: row;
            grid-template-areas:
                "m12 m12 m6 m6"
                "m12 m12 m6 m6"
                "m8 m8 m8 m8"
                "m8 m8 m8 m8"
                "m11 m10 m13 m13"
                "m11 m10 m13 m13"
                "m15 m15 m15 m15"
                "m15 m15 m15 m15"
                "m4 m4 m3 m3"
                "m4 m4 m3 m3"
                "m14 m14 m14 m2"
                "m14 m14 m14 m2"
                "m1 m1 m1 m1"
                "m1 m1 m1 m1"
                "m5 m5 m9 m9"
                "m5 m5 m9 m9"
                "m7 m7 m7 m7"
                "m7 m7 m7 m7";

            @each $Muebles in m12,
            m6,
            m8,
            m11,
            m10,
            m13,
            m15,
            m4,
            m3,
            m14,
            m2,
            m1,
            m5,
            m9,
            m7 {

                &__#{$Muebles} {
                    grid-area: #{$Muebles};
                }
            }


        }

        &__grillaSJ {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.4fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.5fr 1fr 0.4fr 0.4fr 0.5fr 0.4fr;
            gap: 0.3rem 0.3rem;
            grid-auto-flow: row;
            grid-template-areas:
                "s1 s2 s3"
                "s1 s2 s3"
                "j2 j2 j2"
                "j3 j6 s4"
                "j3 j6 s4"
                "j8 j8 j8"
                "j8 j8 j8"
                "s6 s7 s8"
                "s6 s7 s8"
                "s5 j1 j1"
                "s5 j1 j1"
                "j7 j7 j7"
                "j7 j7 j7"
                "j4 j4 s1c"
                "j4 j4 s1c"
                "j5 j5 s2c"
                "j5 j5 s2c";

            @each $SyJ in s1,
            s2,
            s3,
            j2,
            j3,
            j6,
            s4,
            j8,
            s6,
            s7,
            s8,
            s5,
            j1,
            j7,
            j4,
            j5,
            s1c,
            s2c {
                &__#{$SyJ} {
                    grid-area: #{$SyJ};
                }
            }

        }






    }

}