* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

/*PARTE HEADER */
.header {
  background-image: linear-gradient(to right, #ff5677, #4c3f91);
  overflow: hidden; }
  .header__logo {
    width: 150px;
    height: 150px; }
  .header__ul {
    flex-basis: 100%;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__ul__li {
      width: 100%;
      height: 100%;
      border-radius: 3px;
      border-top: 3px solid #4c3f91; }
      .header__ul__li__a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center; }
      .header__ul__li__a:hover {
        color: white;
        border-color: white;
        transition: all 0.5s; }
    .header__ul__li:hover {
      background-color: #ff5677;
      border-color: black;
      transition: all 0.5s; }

/*PARTE HEADER */
/* PARTE MAIN (TODOS LOS HTML) */
.main {
  background-image: url(../images/fondo.jpg);
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed; }
  .main .titulo {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 0.1px black;
    color: white; }
    @media only screen and (max-width: 768px) {
      .main .titulo {
        font-size: 3rem; } }
    @media only screen and (max-width: 576px) {
      .main .titulo {
        font-size: 2rem; } }
  .main .parrafo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: white; }
    @media only screen and (max-width: 576px) {
      .main .parrafo {
        font-size: 1rem; } }
  .main .botonGaleria {
    border: 3px solid #ff5677;
    width: 181px;
    text-align: center;
    background-color: black;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white; }
  .main .botonGaleria:hover {
    background-color: #ff5677;
    border-color: black;
    transition: all 1s; }
  .main .img {
    width: 100%;
    height: 100%; }
  .main__section {
    background-color: rgba(255, 86, 119, 0.2); }
    .main__section__DivColor--quienesSomos {
      background-color: #4c3f91;
      border-radius: 10px;
      border: 3px solid black; }
    .main__section__DivColor--nuestraUbicacion {
      background-color: #9145b6;
      border-radius: 10px;
      border: 3px solid black; }
    .main__section__DivColor--acercadeNuestroProveedor {
      background-color: #B958A5;
      border-radius: 10px;
      border: 3px solid black; }
    .main__section__carouselTitleDiv {
      background-color: rgba(255, 86, 119, 0.2);
      border-radius: 100px; }
    .main__section__div, .main__section__divContacto {
      background-color: black;
      border-radius: 10px;
      padding-top: 30px;
      border: 5px solid #ff5677; }
    .main__section__gridIndex {
      display: grid;
      grid-template-columns: .5fr 1fr;
      grid-template-rows: .3fr 1fr;
      gap: 0px 0px;
      grid-template-areas: "title_1 title_2" "carousel parrafo"; }
      .main__section__gridIndex__title_1 {
        grid-area: title_1; }
      .main__section__gridIndex__title_2 {
        grid-area: title_2; }
      .main__section__gridIndex__carousel {
        grid-area: carousel; }
      .main__section__gridIndex__parrafo {
        grid-area: parrafo; }
    .main__section__gridGaleriaTap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1rem 1rem;
      grid-auto-flow: row;
      grid-template-areas: "imageTp contentTp"; }
      .main__section__gridGaleriaTap__imageTp {
        grid-area: imageTp; }
      .main__section__gridGaleriaTap__contentTp {
        grid-area: contentTp; }
    .main__section__form {
      margin: 25px;
      padding-top: 10px;
      background-color: #ff5677;
      border-radius: 3px;
      border: 5px solid #4c3f91; }
      .main__section__form__div {
        padding: 20px; }
    .main__section__divContacto {
      margin-left: 200px;
      margin-right: 200px; }
      @media only screen and (max-width: 576px) {
        .main__section__divContacto {
          margin-left: 5px;
          margin-right: 5px; } }
      @media only screen and (max-width: 768px) {
        .main__section__divContacto {
          margin-left: 10px;
          margin-right: 10px; } }
    .main__section__imgAnimation:hover {
      transform: scale(1.3, 1.3);
      transition: transform 0.5s; }
    .main__section__Color {
      background-color: #ff5677;
      color: white; }
    .main__section__ColorB {
      background-color: #4c3f91;
      color: white; }
    .main__section__gridTAP {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(7, 350px);
      gap: 0.5rem 0.5rem;
      grid-auto-flow: row;
      grid-template-areas: "tap_1 tap_2 tap_3" "tap_4 tap_5 tap_6" "tap_7 tap_8 tap_9" "tap_10 tap_11 tap_12" "tap_13 tap_14 tap_15" "tap_16 tap_17 tap_18" "tap_19 tap_20 tap_21"; }
      @media only screen and (max-width: 768px) {
        .main__section__gridTAP {
          grid-template-rows: repeat(7, 250px); } }
      @media only screen and (max-width: 576px) {
        .main__section__gridTAP {
          grid-template-rows: repeat(7, 200px); } }
      @media only screen and (max-width: 475px) {
        .main__section__gridTAP {
          grid-template-rows: repeat(7, 100px); } }
      .main__section__gridTAP__tap_1 {
        grid-area: tap_1; }
      .main__section__gridTAP__tap_2 {
        grid-area: tap_2; }
      .main__section__gridTAP__tap_3 {
        grid-area: tap_3; }
      .main__section__gridTAP__tap_4 {
        grid-area: tap_4; }
      .main__section__gridTAP__tap_5 {
        grid-area: tap_5; }
      .main__section__gridTAP__tap_6 {
        grid-area: tap_6; }
      .main__section__gridTAP__tap_7 {
        grid-area: tap_7; }
      .main__section__gridTAP__tap_8 {
        grid-area: tap_8; }
      .main__section__gridTAP__tap_9 {
        grid-area: tap_9; }
      .main__section__gridTAP__tap_10 {
        grid-area: tap_10; }
      .main__section__gridTAP__tap_11 {
        grid-area: tap_11; }
      .main__section__gridTAP__tap_12 {
        grid-area: tap_12; }
      .main__section__gridTAP__tap_13 {
        grid-area: tap_13; }
      .main__section__gridTAP__tap_14 {
        grid-area: tap_14; }
      .main__section__gridTAP__tap_15 {
        grid-area: tap_15; }
      .main__section__gridTAP__tap_16 {
        grid-area: tap_16; }
      .main__section__gridTAP__tap_17 {
        grid-area: tap_17; }
      .main__section__gridTAP__tap_18 {
        grid-area: tap_18; }
      .main__section__gridTAP__tap_19 {
        grid-area: tap_19; }
      .main__section__gridTAP__tap_20 {
        grid-area: tap_20; }
      .main__section__gridTAP .c-img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; }
        .main__section__gridTAP .c-img .txt {
          text-align: center;
          position: absolute;
          top: 260px;
          background-color: rgba(255, 86, 119, 0.9);
          padding: 10px 20px;
          width: 100%;
          transition: all .3s;
          opacity: 0; }
        .main__section__gridTAP .c-img:hover .txt {
          opacity: 1; }
    .main__section__gridSillones {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr;
      grid-auto-columns: 1fr;
      gap: 0.3rem 0.3rem;
      grid-auto-flow: row;
      grid-template-areas: "s1 s1 s1 s1 s2 s2" "s1 s1 s1 s1 s2 s2" "s1 s1 s1 s1 s2 s2" "s8 s8 s8 s9 s9 s9" "s8 s8 s8 s9 s9 s9" "s4 s4 s5 s5 s7 s7" "s4 s4 s5 s5 s7 s7" "s4 s4 s5 s5 s7 s7" "s10 s10 s10 s13 s13 s13" "s10 s10 s10 s13 s13 s13" "s10 s10 s10 s13 s13 s13"; }
      .main__section__gridSillones__s1 {
        grid-area: s1; }
      .main__section__gridSillones__s2 {
        grid-area: s2; }
      .main__section__gridSillones__s8 {
        grid-area: s8; }
      .main__section__gridSillones__s9 {
        grid-area: s9; }
      .main__section__gridSillones__s4 {
        grid-area: s4; }
      .main__section__gridSillones__s5 {
        grid-area: s5; }
      .main__section__gridSillones__s7 {
        grid-area: s7; }
      .main__section__gridSillones__s10 {
        grid-area: s10; }
      .main__section__gridSillones__s11 {
        grid-area: s11; }
      .main__section__gridSillones__s12 {
        grid-area: s12; }
      .main__section__gridSillones__s13 {
        grid-area: s13; }
    .main__section__gridMuebles {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.2fr 0.2fr 0.5fr 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.5fr 0.5fr 0.3fr 0.3fr 0.4fr 0.4fr;
      gap: 0.2rem 0.2rem;
      grid-auto-flow: row;
      grid-template-areas: "m12 m12 m6 m6" "m12 m12 m6 m6" "m8 m8 m8 m8" "m8 m8 m8 m8" "m11 m10 m13 m13" "m11 m10 m13 m13" "m15 m15 m15 m15" "m15 m15 m15 m15" "m4 m4 m3 m3" "m4 m4 m3 m3" "m14 m14 m14 m2" "m14 m14 m14 m2" "m1 m1 m1 m1" "m1 m1 m1 m1" "m5 m5 m9 m9" "m5 m5 m9 m9" "m7 m7 m7 m7" "m7 m7 m7 m7"; }
      .main__section__gridMuebles__m12 {
        grid-area: m12; }
      .main__section__gridMuebles__m6 {
        grid-area: m6; }
      .main__section__gridMuebles__m8 {
        grid-area: m8; }
      .main__section__gridMuebles__m11 {
        grid-area: m11; }
      .main__section__gridMuebles__m10 {
        grid-area: m10; }
      .main__section__gridMuebles__m13 {
        grid-area: m13; }
      .main__section__gridMuebles__m15 {
        grid-area: m15; }
      .main__section__gridMuebles__m4 {
        grid-area: m4; }
      .main__section__gridMuebles__m3 {
        grid-area: m3; }
      .main__section__gridMuebles__m14 {
        grid-area: m14; }
      .main__section__gridMuebles__m2 {
        grid-area: m2; }
      .main__section__gridMuebles__m1 {
        grid-area: m1; }
      .main__section__gridMuebles__m5 {
        grid-area: m5; }
      .main__section__gridMuebles__m9 {
        grid-area: m9; }
      .main__section__gridMuebles__m7 {
        grid-area: m7; }
    .main__section__grillaSJ {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.5fr 1fr 0.4fr 0.4fr 0.5fr 0.4fr;
      gap: 0.3rem 0.3rem;
      grid-auto-flow: row;
      grid-template-areas: "s1 s2 s3" "s1 s2 s3" "j2 j2 j2" "j3 j6 s4" "j3 j6 s4" "j8 j8 j8" "j8 j8 j8" "s6 s7 s8" "s6 s7 s8" "s5 j1 j1" "s5 j1 j1" "j7 j7 j7" "j7 j7 j7" "j4 j4 s1c" "j4 j4 s1c" "j5 j5 s2c" "j5 j5 s2c"; }
      .main__section__grillaSJ__s1 {
        grid-area: s1; }
      .main__section__grillaSJ__s2 {
        grid-area: s2; }
      .main__section__grillaSJ__s3 {
        grid-area: s3; }
      .main__section__grillaSJ__j2 {
        grid-area: j2; }
      .main__section__grillaSJ__j3 {
        grid-area: j3; }
      .main__section__grillaSJ__j6 {
        grid-area: j6; }
      .main__section__grillaSJ__s4 {
        grid-area: s4; }
      .main__section__grillaSJ__j8 {
        grid-area: j8; }
      .main__section__grillaSJ__s6 {
        grid-area: s6; }
      .main__section__grillaSJ__s7 {
        grid-area: s7; }
      .main__section__grillaSJ__s8 {
        grid-area: s8; }
      .main__section__grillaSJ__s5 {
        grid-area: s5; }
      .main__section__grillaSJ__j1 {
        grid-area: j1; }
      .main__section__grillaSJ__j7 {
        grid-area: j7; }
      .main__section__grillaSJ__j4 {
        grid-area: j4; }
      .main__section__grillaSJ__j5 {
        grid-area: j5; }
      .main__section__grillaSJ__s1c {
        grid-area: s1c; }
      .main__section__grillaSJ__s2c {
        grid-area: s2c; }

/*PARTE FOOTER */
.footer {
  background-image: linear-gradient(to right, #ff5677, #4c3f91); }
  @media only screen and (max-width: 768px) {
    .footer__Div {
      flex-direction: column; } }
  @media only screen and (max-width: 576px) {
    .footer__Div {
      flex-direction: column; } }
  .footer__Div__parrafoFooter, .footer__Div__aFooter {
    font-size: 1.5rem;
    color: white; }
    @media only screen and (max-width: 576px) {
      .footer__Div__parrafoFooter, .footer__Div__aFooter {
        font-size: 1rem; } }
    @media only screen and (max-width: 768px) {
      .footer__Div__parrafoFooter, .footer__Div__aFooter {
        font-size: 1rem; } }
  .footer__Div__aFooter {
    text-decoration: underline; }
  .footer__Div__aFooter:hover {
    color: black;
    transform: scale(1.2, 1.2);
    transition: transform 0.7s; }
  .footer__Div__imgLogoF {
    width: 150px;
    height: 150px; }
    @media only screen and (max-width: 768px) {
      .footer__Div__imgLogoF {
        width: 120px;
        height: 120px; } }
    @media only screen and (max-width: 576px) {
      .footer__Div__imgLogoF {
        width: 110px;
        height: 110px; } }
  .footer__Div__imgFooter {
    width: 50px;
    height: 50px; }
    @media only screen and (max-width: 768px) {
      .footer__Div__imgFooter {
        width: 70px;
        height: 70px; } }
    @media only screen and (max-width: 576px) {
      .footer__Div__imgFooter {
        width: 40px;
        height: 40px; } }
  .footer__Div__transform:hover {
    transform: scale(1.5, 1.5);
    transition: transform 0.7s; }

/*PARTE FOOTER */
@media screen and (max-width: 1024px) {
  .main__section__gridIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .5fr .3fr .5fr;
    gap: 0px 0px;
    grid-template-areas: "title_1" "carousel" "title_2" "parrafo"; }
  .main__section__gridGaleriaTap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas: "contentTp" "imageTp"; }
  .main__section__form {
    margin: 0px;
    padding-top: 5px;
    background-color: #ff5677;
    border-radius: 3px;
    border: 5px solid #4c3f91; }
    .main__section__form .main__section__form__div {
      padding: 10px; } }

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .header__ul__li {
    border-radius: 3px;
    border-top: none; } }

@media screen and (max-width: 1024px) and (min-width: 1174px) {
  .header__ul__li {
    border-radius: 3px;
    border-top: 3px solid #4c3f91; } }
