* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

/*PARTE HEADER */
.header {
  background-image: linear-gradient(to right, #ff5677, #4c3f91);
  overflow: hidden; }
  .header__logo {
    width: 150px;
    height: 150px; }
  .header__ul {
    flex-basis: 100%;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__ul__li {
      width: 100%;
      height: 100%;
      border-radius: 3px;
      border-top: 3px solid #4c3f91; }
      .header__ul__li__a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center; }
      .header__ul__li__a:hover {
        color: white;
        border-color: white;
        transition: all 0.5s; }
    .header__ul__li:hover {
      background-color: #ff5677;
      border-color: black;
      transition: all 0.5s; }

/*PARTE HEADER */
/* PARTE MAIN (TODOS LOS HTML) */
.main {
  background-image: url(../images/fondo.jpg);
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed; }
  .main .titulo {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 0.1px black;
    color: white; }
    @media only screen and (max-width: 768px) {
      .main .titulo {
        font-size: 3rem; } }
    @media only screen and (max-width: 576px) {
      .main .titulo {
        font-size: 2rem; } }
  .main .parrafo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: white; }
    @media only screen and (max-width: 576px) {
      .main .parrafo {
        font-size: 1rem; } }
  .main .botonGaleria {
    border: 3px solid #ff5677;
    width: 181px;
    text-align: center;
    background-color: black;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white; }
  .main .botonGaleria:hover {
    background-color: #ff5677;
    border-color: black;
    transition: all 1s; }
  .main .img {
    width: 100%;
    height: 100%; }
  .main__section {
    background-color: rgba(255, 86, 119, 0.2); }
    .main__section__carouselTitleDiv {
      background-color: rgba(255, 86, 119, 0.2);
      border-radius: 100px; }
    .main__section__div {
      background-color: black;
      border: 5px;
      border-radius: 10px;
      padding-top: 30px;
      border: 5px solid #ff5677; }

/*PARTE FOOTER */
.footer {
  background-image: linear-gradient(to right, #ff5677, #4c3f91); }
  @media only screen and (max-width: 768px) {
    .footer__Div {
      flex-direction: column; } }
  @media only screen and (max-width: 576px) {
    .footer__Div {
      flex-direction: column; } }
  .footer__Div__parrafoFooter, .footer__Div__aFooter {
    font-size: 1.5rem;
    color: white; }
    @media only screen and (max-width: 576px) {
      .footer__Div__parrafoFooter, .footer__Div__aFooter {
        font-size: 1rem; } }
    @media only screen and (max-width: 768px) {
      .footer__Div__parrafoFooter, .footer__Div__aFooter {
        font-size: 1rem; } }
  .footer__Div__aFooter {
    text-decoration: underline; }
  .footer__Div__aFooter:hover {
    color: black;
    transform: scale(1.2, 1.2);
    transition: transform 0.7s; }
  .footer__Div__imgLogoF {
    width: 150px;
    height: 150px; }
    @media only screen and (max-width: 768px) {
      .footer__Div__imgLogoF {
        width: 120px;
        height: 120px; } }
    @media only screen and (max-width: 576px) {
      .footer__Div__imgLogoF {
        width: 110px;
        height: 110px; } }
  .footer__Div__imgFooter {
    width: 50px;
    height: 50px; }
    @media only screen and (max-width: 768px) {
      .footer__Div__imgFooter {
        width: 70px;
        height: 70px; } }
    @media only screen and (max-width: 576px) {
      .footer__Div__imgFooter {
        width: 40px;
        height: 40px; } }
  .footer__Div__transform:hover {
    transform: scale(1.5, 1.5);
    transition: transform 0.7s; }

/*PARTE FOOTER */
@media screen and (min-width: 992px) {
  .header__ul__li {
    border-radius: 3px;
    border-top: none; } }

@media screen and (min-width: 1174px) {
  .header__ul__li {
    border-radius: 3px;
    border-top: 3px solid #4c3f91; } }
